{{#each this}}
<h1 class="country-name">{{name}}</h1>
<div class="contant-wrap">
   <ul class="country-info__list">
      <li><span>Capital:</span> {{capital}}</li>
      <li><span>Population:</span> {{population}}</li>
      <li><span>Languages:</span>
         <ul class="country-languages__list">
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
         </ul>
      </li>
   </ul>
   <img class="country-flag" src="{{flag}}" alt="" width="300">
</div>
{{/each}}